<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>ButtonGroupLevels-disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1,196},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>ButtonGroupLevels1</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>ButtonGroupLevels2</key>
            <dict>
                <key>frame</key>
                <string>{{196,1},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>ButtonGroupLevels3</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>GameMenuGroupButtons.pvr.ccz</string>
        </dict>
    </dict>
</plist>
