<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tractor</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{264,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,144}}</string>
                <key>sourceSize</key>
                <string>{264,144}</string>
            </dict>
            <key>TractorDriver0</key>
            <dict>
                <key>frame</key>
                <string>{{1,146},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>TractorDriver1</key>
            <dict>
                <key>frame</key>
                <string>{{212,146},{103,96}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{103,96}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>TractorFrontWheel</key>
            <dict>
                <key>frame</key>
                <string>{{316,83},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>TractorRearWheel</key>
            <dict>
                <key>frame</key>
                <string>{{104,146},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>Trailer</key>
            <dict>
                <key>frame</key>
                <string>{{316,1},{178,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,81}}</string>
                <key>sourceSize</key>
                <string>{178,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,256}</string>
            <key>textureFileName</key>
            <string>Tractor-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
