<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tree13</key>
            <dict>
                <key>frame</key>
                <string>{{1,254},{197,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>Tree14</key>
            <dict>
                <key>frame</key>
                <string>{{199,254},{191,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{191,252}</string>
            </dict>
            <key>Tree15</key>
            <dict>
                <key>frame</key>
                <string>{{206,1},{179,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,252}}</string>
                <key>sourceSize</key>
                <string>{179,252}</string>
            </dict>
            <key>Tree16</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{204,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,252}}</string>
                <key>sourceSize</key>
                <string>{204,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>Trees13_16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
