<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tree5</key>
            <dict>
                <key>frame</key>
                <string>{{1,254},{209,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,252}}</string>
                <key>sourceSize</key>
                <string>{209,252}</string>
            </dict>
            <key>Tree6</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{215,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,252}}</string>
                <key>sourceSize</key>
                <string>{215,252}</string>
            </dict>
            <key>Tree7</key>
            <dict>
                <key>frame</key>
                <string>{{211,254},{196,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,252}}</string>
                <key>sourceSize</key>
                <string>{196,252}</string>
            </dict>
            <key>Tree8</key>
            <dict>
                <key>frame</key>
                <string>{{217,1},{172,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,252}}</string>
                <key>sourceSize</key>
                <string>{172,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>Trees5_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
