<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tree10</key>
            <dict>
                <key>frame</key>
                <string>{{393,510},{381,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,508}}</string>
                <key>sourceSize</key>
                <string>{381,508}</string>
            </dict>
            <key>Tree11</key>
            <dict>
                <key>frame</key>
                <string>{{1,510},{391,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,508}}</string>
                <key>sourceSize</key>
                <string>{391,508}</string>
            </dict>
            <key>Tree12</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{439,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,508}}</string>
                <key>sourceSize</key>
                <string>{439,508}</string>
            </dict>
            <key>Tree9</key>
            <dict>
                <key>frame</key>
                <string>{{441,1},{350,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,508}}</string>
                <key>sourceSize</key>
                <string>{350,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>Trees9_12-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
