<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Credits</key>
            <dict>
                <key>frame</key>
                <string>{{788,642},{129,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,45}}</string>
                <key>sourceSize</key>
                <string>{129,45}</string>
            </dict>
            <key>FreeEdition</key>
            <dict>
                <key>frame</key>
                <string>{{1,642},{366,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,366}}</string>
                <key>sourceSize</key>
                <string>{366,366}</string>
            </dict>
            <key>MusicOff</key>
            <dict>
                <key>frame</key>
                <string>{{433,726},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>MusicOn</key>
            <dict>
                <key>frame</key>
                <string>{{433,791},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Options</key>
            <dict>
                <key>frame</key>
                <string>{{647,642},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>PlayBackground</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>PlayNow</key>
            <dict>
                <key>frame</key>
                <string>{{368,642},{278,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,83}}</string>
                <key>sourceSize</key>
                <string>{278,83}</string>
            </dict>
            <key>Reset</key>
            <dict>
                <key>frame</key>
                <string>{{918,642},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>SoundsOff</key>
            <dict>
                <key>frame</key>
                <string>{{433,921},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SoundsOn</key>
            <dict>
                <key>frame</key>
                <string>{{433,856},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cdbaby</key>
            <dict>
                <key>frame</key>
                <string>{{368,921},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>digg</key>
            <dict>
                <key>frame</key>
                <string>{{368,856},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>facebook</key>
            <dict>
                <key>frame</key>
                <string>{{368,791},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>twitter</key>
            <dict>
                <key>frame</key>
                <string>{{368,726},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>PlayMenu-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
