<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FruitGoalUnderlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,152},{32,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,96}}</string>
                <key>sourceSize</key>
                <string>{32,96}</string>
            </dict>
            <key>UIBackground</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,58}}</string>
                <key>sourceSize</key>
                <string>{480,58}</string>
            </dict>
            <key>UIBackgroundDark</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{480,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,45}}</string>
                <key>sourceSize</key>
                <string>{480,45}</string>
            </dict>
            <key>UIBackgroundMed</key>
            <dict>
                <key>frame</key>
                <string>{{1,60},{480,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,45}}</string>
                <key>sourceSize</key>
                <string>{480,45}</string>
            </dict>
            <key>UILayerPause</key>
            <dict>
                <key>frame</key>
                <string>{{482,26},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>UILayerReplay</key>
            <dict>
                <key>frame</key>
                <string>{{482,1},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>UILayerTruckBack</key>
            <dict>
                <key>frame</key>
                <string>{{34,184},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UILayerTruckFwd</key>
            <dict>
                <key>frame</key>
                <string>{{34,152},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,256}</string>
            <key>textureFileName</key>
            <string>UIImages.pvr.ccz</string>
        </dict>
    </dict>
</plist>
