<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FruitGoalUnderlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,300},{64,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,192}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>UIBackground</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{960,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,116}}</string>
                <key>sourceSize</key>
                <string>{960,116}</string>
            </dict>
            <key>UIBackgroundDark</key>
            <dict>
                <key>frame</key>
                <string>{{1,209},{960,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,90}}</string>
                <key>sourceSize</key>
                <string>{960,90}</string>
            </dict>
            <key>UIBackgroundMed</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{960,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,90}}</string>
                <key>sourceSize</key>
                <string>{960,90}</string>
            </dict>
            <key>UILayerPause</key>
            <dict>
                <key>frame</key>
                <string>{{962,50},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UILayerReplay</key>
            <dict>
                <key>frame</key>
                <string>{{962,1},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UILayerTruckBack</key>
            <dict>
                <key>frame</key>
                <string>{{66,363},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>UILayerTruckFwd</key>
            <dict>
                <key>frame</key>
                <string>{{66,300},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>UIImages-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
