<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GrayClouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{481,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,76}}</string>
                <key>sourceSize</key>
                <string>{481,76}</string>
            </dict>
            <key>Hail.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>Tractor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,78},{132,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,85}}</string>
                <key>sourceSize</key>
                <string>{132,85}</string>
            </dict>
            <key>TractorDriver0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>TractorDriver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,196},{53,48}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{53,48}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>TractorFrontWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,78},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>TractorRearWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,196},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Trailer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{89,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,41}}</string>
                <key>sourceSize</key>
                <string>{89,41}</string>
            </dict>
            <key>Truck.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,78},{184,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,117}}</string>
                <key>sourceSize</key>
                <string>{186,117}</string>
            </dict>
            <key>TruckWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,196},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,256}</string>
            <key>textureFileName</key>
            <string>Landscape1.png</string>
        </dict>
    </dict>
</plist>
