<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>2</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Truck</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
						<key>density</key>
						<real>2</real>
						<key>friction</key>
						<real>0</real>
                        <key>restitution</key>
                        <real>0</real>
						<key>filter_categoryBits</key>
						<integer>1</integer>
						<key>filter_groupIndex</key>
						<integer>0</integer>
						<key>filter_maskBits</key>
						<integer>65535</integer>
						<key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>isSensor</key>

						<false/>

						<key>polygons</key>
						<array>

							<array>
	
								<string>{ 34.582,25.031 }</string>
	
								<string>{ 57.000,42.000 }</string>
	
								<string>{ 32.340,48.645 }</string>

							</array>

							<array>
	
								<string>{ 124.723,14.610 }</string>
	
								<string>{ 143.660,41.500 }</string>
	
								<string>{ 88.176,58.613 }</string>
	
								<string>{ 57.000,42.000 }</string>
	
								<string>{ 80.113,16.355 }</string>

							</array>

							<array>
	
								<string>{ 158.500,106.371 }</string>
	
								<string>{ 106.887,113.984 }</string>
	
								<string>{ 143.660,41.500 }</string>
	
								<string>{ 166.000,15.000 }</string>
	
								<string>{ 183.500,17.371 }</string>
	
								<string>{ 174.214,72.956 }</string>

							</array>

							<array>
	
								<string>{ 90.000,107.871 }</string>
	
								<string>{ 88.176,58.613 }</string>
	
								<string>{ 143.660,41.500 }</string>
	
								<string>{ 106.887,113.984 }</string>

							</array>

							<array>
	
								<string>{ 32.340,48.645 }</string>
	
								<string>{ 57.000,42.000 }</string>
	
								<string>{ 3.145,91.195 }</string>

							</array>

							<array>
	
								<string>{ 3.016,108.289 }</string>
	
								<string>{ 3.145,91.195 }</string>
	
								<string>{ 39.500,58.484 }</string>

							</array>

							<array>
	
								<string>{ 88.176,58.613 }</string>
	
								<string>{ 39.500,58.484 }</string>
	
								<string>{ 57.000,42.000 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

