<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Truck</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
						<key>density</key>
						<real>1</real>
						<key>friction</key>
						<real>0</real>
                        <key>restitution</key>
                        <real>0.25</real>
						<key>filter_categoryBits</key>
						<integer>1</integer>
						<key>filter_groupIndex</key>
						<integer>0</integer>
						<key>filter_maskBits</key>
						<integer>65535</integer>
						<key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>isSensor</key>

						<false/>

						<key>polygons</key>
						<array>

							<array>
	
								<string>{ 227.000,249.500 }</string>
	
								<string>{ 206.000,226.500 }</string>
	
								<string>{ 170.000,31.500 }</string>
	
								<string>{ 231.000,46.500 }</string>
	
								<string>{ 240.500,227.000 }</string>

							</array>

							<array>
	
								<string>{ 392.500,42.000 }</string>
	
								<string>{ 367.500,175.000 }</string>
	
								<string>{ 328.000,235.500 }</string>
	
								<string>{ 240.500,227.000 }</string>
	
								<string>{ 231.000,46.500 }</string>
	
								<string>{ 306.000,2.500 }</string>

							</array>

							<array>
	
								<string>{ 143.000,11.500 }</string>
	
								<string>{ 158.000,46.500 }</string>
	
								<string>{ 186.000,125.500 }</string>
	
								<string>{ 71.000,102.500 }</string>
	
								<string>{ 62.500,96.000 }</string>
	
								<string>{ 80.500,21.000 }</string>
	
								<string>{ 111.000,2.500 }</string>

							</array>

							<array>
	
								<string>{ 224.000,30.500 }</string>
	
								<string>{ 231.000,46.500 }</string>
	
								<string>{ 170.000,31.500 }</string>

							</array>

							<array>
	
								<string>{ 1.500,235.000 }</string>
	
								<string>{ 5.500,192.000 }</string>
	
								<string>{ 71.000,102.500 }</string>
	
								<string>{ 83.500,122.000 }</string>

							</array>

							<array>
	
								<string>{ 185.500,228.000 }</string>
	
								<string>{ 186.000,125.500 }</string>
	
								<string>{ 206.000,226.500 }</string>

							</array>

							<array>
	
								<string>{ 83.500,122.000 }</string>
	
								<string>{ 71.000,102.500 }</string>
	
								<string>{ 186.000,125.500 }</string>

							</array>

							<array>
	
								<string>{ 170.000,31.500 }</string>
	
								<string>{ 186.000,125.500 }</string>
	
								<string>{ 158.000,46.500 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

