<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreditsBackground</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>MainMenu</key>
            <dict>
                <key>frame</key>
                <string>{{1,642},{225,44}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{225,44}}</string>
                <key>sourceSize</key>
                <string>{227,54}</string>
            </dict>
            <key>Support</key>
            <dict>
                <key>frame</key>
                <string>{{1,687},{312,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,39}}</string>
                <key>sourceSize</key>
                <string>{312,39}</string>
            </dict>
            <key>Website</key>
            <dict>
                <key>frame</key>
                <string>{{227,642},{283,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,39}}</string>
                <key>sourceSize</key>
                <string>{283,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>CreditsMenu-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
