<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AppleGolden-32</key>
            <dict>
                <key>frame</key>
                <string>{{59,66},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>AppleGreen-32</key>
            <dict>
                <key>frame</key>
                <string>{{119,66},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>AppleRed-32</key>
            <dict>
                <key>frame</key>
                <string>{{179,66},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>Banana-32</key>
            <dict>
                <key>frame</key>
                <string>{{190,131},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>BugFlyingRed-32</key>
            <dict>
                <key>frame</key>
                <string>{{131,261},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Cherries-32</key>
            <dict>
                <key>frame</key>
                <string>{{66,196},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>FlowerGreen-32</key>
            <dict>
                <key>frame</key>
                <string>{{131,196},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>FlowerRed-32</key>
            <dict>
                <key>frame</key>
                <string>{{1,196},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>GrapeGreen-32</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>Kiwi-32</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>LadyBug-32</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>LadyBugSide-32</key>
            <dict>
                <key>frame</key>
                <string>{{1,66},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>Melon-32</key>
            <dict>
                <key>frame</key>
                <string>{{66,261},{64,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,45}</string>
            </dict>
            <key>OrangeHalf-32</key>
            <dict>
                <key>frame</key>
                <string>{{62,131},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>Pineapple-32</key>
            <dict>
                <key>frame</key>
                <string>{{108,1},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>Raspberry-32</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>Strawberry-32</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>Watermelon-32</key>
            <dict>
                <key>frame</key>
                <string>{{125,131},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>Fruit32-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
