<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AchievePickyFruitPassedLevel18-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,117},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AchievePickyFruitPassedLevel33-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AchievementGoldenCircle-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleGolden100Achieve-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleGoldenAchieve1-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleGoldenAchieve10-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,92},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleGoldenAchieve3-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,92},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleGoldenAchieve50-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,32},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleGoldenAchieve7-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,63},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleGreenAchieve10-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,63},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AppleRedAchieve10-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>BananaAchieve10-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,94},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TotalBugsSquished1000Achieve-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TotalBugsSquished100Achieve-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TotalBugsSquished500Achieve-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,32},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TotalFruitsSaved100000Achieve-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TotalFruitsSaved10000Achieve-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TotalFruitsSaved1000Achieve-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,32},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{128,256}</string>
            <key>textureFileName</key>
            <string>Achievements32.pvr.ccz</string>
        </dict>
    </dict>
</plist>
