<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Clouds-ipad-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{2048,1074}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1074}}</string>
                <key>sourceSize</key>
                <string>{2048,1074}</string>
            </dict>
            <key>Hills-ipad-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1076},{2048,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,532}}</string>
                <key>sourceSize</key>
                <string>{2048,532}</string>
            </dict>
            <key>Mountains-ipad-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1609},{2048,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,499}}</string>
                <key>sourceSize</key>
                <string>{2048,499}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>textureFileName</key>
            <string>Parallax1-ipad-hd.png</string>
        </dict>
    </dict>
</plist>
