<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Truck.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {236, 117}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {236, 117}}</string>
			<key>sourceSize</key>
			<string>{236, 117}</string>
		</dict><key>TruckWheel copy 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{174, 77}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict><key>TruckWheel copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 77}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict><key>TruckWheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{34, 77}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<string>2</string>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Truck-wheel-positions.png</string>
	</dict>
</dict>
</plist>