<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Awesome</key>
            <dict>
                <key>frame</key>
                <string>{{1,144},{188,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{188,44}}</string>
                <key>sourceSize</key>
                <string>{190,54}</string>
            </dict>
            <key>GoodEnough</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{239,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{239,52}}</string>
                <key>sourceSize</key>
                <string>{241,54}</string>
            </dict>
            <key>Great</key>
            <dict>
                <key>frame</key>
                <string>{{127,366},{110,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,44}}</string>
                <key>sourceSize</key>
                <string>{112,54}</string>
            </dict>
            <key>ImprovedScoreRound</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>LevelFailed</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{216,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{216,44}}</string>
                <key>sourceSize</key>
                <string>{218,54}</string>
            </dict>
            <key>MainMenu</key>
            <dict>
                <key>frame</key>
                <string>{{1,54},{225,44}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{225,44}}</string>
                <key>sourceSize</key>
                <string>{227,54}</string>
            </dict>
            <key>Next</key>
            <dict>
                <key>frame</key>
                <string>{{127,411},{85,46}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{87,54}</string>
            </dict>
            <key>Replay</key>
            <dict>
                <key>frame</key>
                <string>{{1,366},{125,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,52}}</string>
                <key>sourceSize</key>
                <string>{125,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>LevelPassedFailed-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
