<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hills</key>
            <dict>
                <key>frame</key>
                <string>{{482,1},{480,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,180}}</string>
                <key>sourceSize</key>
                <string>{480,180}</string>
            </dict>
            <key>Mountains</key>
            <dict>
                <key>frame</key>
                <string>{{482,182},{444,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,81}}</string>
                <key>sourceSize</key>
                <string>{444,81}</string>
            </dict>
            <key>Sky</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,303}}</string>
                <key>sourceSize</key>
                <string>{480,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>Parallax4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
