<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hills</key>
            <dict>
                <key>frame</key>
                <string>{{962,1},{960,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,360}}</string>
                <key>sourceSize</key>
                <string>{960,360}</string>
            </dict>
            <key>Mountains</key>
            <dict>
                <key>frame</key>
                <string>{{962,362},{887,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,162}}</string>
                <key>sourceSize</key>
                <string>{887,162}</string>
            </dict>
            <key>Sky</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{960,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,606}}</string>
                <key>sourceSize</key>
                <string>{960,606}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>Parallax4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
