<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GrayClouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{958,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{958,150}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>Hail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,960},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>Tractor-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{264,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,170}}</string>
                <key>sourceSize</key>
                <string>{264,170}</string>
            </dict>
            <key>TractorDriver0-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,180},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>TractorDriver1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,391},{103,96}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{103,96}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>TractorFrontWheel-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,542},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>TractorRearWheel-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,283},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>Trailer-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1},{178,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,81}}</string>
                <key>sourceSize</key>
                <string>{178,81}</string>
            </dict>
            <key>Truck.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,172},{369,232}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{369,232}}</string>
                <key>sourceSize</key>
                <string>{371,234}</string>
            </dict>
            <key>TruckWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,488},{78,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>Landscape1-hd.png</string>
        </dict>
    </dict>
</plist>
